@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
    .info {
        background-color: rgba(39, 137, 157, 0.812);
        h1 {
            margin: 120px 20px;
            color: rgb(220, 215, 215);
            font-family: 'Roboto', sans-serif;
            font-size: 2.1rem;
        }
        img {
            float: left;
            border-radius: 50%;
            height: 150px;
            width: 150px;
            margin: 30px 30px;
            background-image: url("https://filmshotfreezer.files.wordpress.com/2011/07/untitled-1.jpg");
            background-size: cover;
        }
        .check-form {
            margin-top: 100px;
            .icons{
                padding: 10px;
                
                a{
                    text-decoration: none;
                    color: #d0caca;
                }
            }
        }
        input[type=checkbox] {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 1px solid #c8c6c6;
            width: 15px;
            height: 15px;
            border-radius: 2px;
            +label:before {
                font-family: FontAwesome;
                display: inline-block;
                font-size: 19px;
                margin: 10px 0px 15px 30px;
            }
             :focus {
                outline: none;
            }
        }
        #checkbox1,
        #checkbox2,
        #checkbox3,
        #checkbox4,
        #checkbox5,
        {
            display: none;
            +label:before {
                content: "\f096";
                letter-spacing: 10px;
            }
            &:checked+label:before {
                content: '\f046';
            }
        }
    }
    .chart {
        margin: 2% 10% 0 10%; 
        background-color: #ffffff;
        h1{
            text-align: center;
            font-family: 'Roboto',
            sans-serif;
        }
    }
}
