@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
body {
  margin: 0;
  padding: 0; }

.wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh; }
  .wrapper .info {
    background-color: rgba(39, 137, 157, 0.812); }
    .wrapper .info h1 {
      margin: 120px 20px;
      color: #dcd7d7;
      font-family: 'Roboto', sans-serif;
      font-size: 2.1rem; }
    .wrapper .info img {
      float: left;
      border-radius: 50%;
      height: 150px;
      width: 150px;
      margin: 30px 30px;
      background-image: url("https://filmshotfreezer.files.wordpress.com/2011/07/untitled-1.jpg");
      background-size: cover; }
    .wrapper .info .check-form {
      margin-top: 100px; }
      .wrapper .info .check-form .icons {
        padding: 10px; }
        .wrapper .info .check-form .icons a {
          text-decoration: none;
          color: #d0caca; }
      .wrapper .info .check-form input[type=checkbox] {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 1px solid #c8c6c6;
        width: 15px;
        height: 15px;
        border-radius: 2px; }
        .wrapper .info .check-form input[type=checkbox] + label:before {
          font-family: FontAwesome;
          display: inline-block;
          font-size: 19px;
          margin: 10px 0 15px 30px; }
        .wrapper .info .check-form input[type=checkbox] :focus {
          outline: none; }
    .wrapper .info #checkbox1,
    .wrapper .info #checkbox2,
    .wrapper .info #checkbox3,
    .wrapper .info #checkbox4,
    .wrapper .info #checkbox5 {
      display: none; }
      .wrapper .info #checkbox1 + label:before,
      .wrapper .info #checkbox2 + label:before,
      .wrapper .info #checkbox3 + label:before,
      .wrapper .info #checkbox4 + label:before,
      .wrapper .info #checkbox5 + label:before {
        content: "\f096";
        letter-spacing: 10px; }
      .wrapper .info #checkbox1:checked + label:before,
      .wrapper .info #checkbox2:checked + label:before,
      .wrapper .info #checkbox3:checked + label:before,
      .wrapper .info #checkbox4:checked + label:before,
      .wrapper .info #checkbox5:checked + label:before {
        content: '\f046'; }
  .wrapper .chart {
    margin: 2% 10% 0 10%;
    background-color: #ffffff; }
    .wrapper .chart h1 {
      text-align: center;
      font-family: 'Roboto', sans-serif; }
